.bar {
  fill: steelblue;
}

.bar:hover {
  fill: gray;
}

.axis {
  font: 14px sans-serif;
}

.yAxisLabel {
    font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
