body {
    margin: 0;
    background: #87AEBF;
    font-family: 'Verdana';
    font-size: 20pt;
    overflow: hidden;
}

svg {
    display: block;
    background: white;
}
/*
#display {
    background: #dee;
    float: right;
    width: 45%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#display table {
    margin: 0;
}
*/

.overlay {
    fill: none;
    pointer-events: all;
}

.province-boundary, .district-boundary {
    fill: none;
}

.province-boundary {
    stroke: #224;
    stroke-width: 3;
}

.district-boundary {
    stroke: #cce;
    stroke-width: 1;
}