.bar0 {
  fill: steelblue;
}

.bar1 {
    fill: red;
}

.yLabel {
    font: 17px sans-serif;
}

.bar0:hover {
  fill: gray;
}

.bar1:hover {
  fill: gray;
}

.yAxisLabel {
    font: 17px sans-serif;
}

.xAxisLabels {
    font: 17px sans-serif;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
