<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashtricks.pakistan.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.StartActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.VisualizationActivity"
            android:label="@string/title_activity_visualization"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.ScenarioCreationActivity"/>

            <!-- TODO: change depending on where we came from viz -->
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.ScenarioCreationActivity"
            android:label="@string/title_activity_scenario_creation"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.StartActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.FacilityListActivity"
            android:label="@string/title_activity_facility_list"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.ExplorationActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.FacilityActivity"
            android:label="@string/title_activity_facility"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.FacilityListActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.ExplorationActivity"
            android:label="@string/title_activity_exploration"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.StartActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.FacilitiesListActivity"
            android:label="@string/title_activity_facilities_list"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.ExplorationActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.PunjabBarGraphActivity"
            android:label="@string/title_activity_punjab_bar_graph"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.ExplorationActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.UrgentNeedBarGraphActivity"
            android:label="@string/title_activity_urgent_need_bar_graph"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.ExplorationActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.OverallStatisticsActivity"
            android:label="@string/title_activity_overall_statistics"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.ExplorationActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.FridgeAgeBarGraphActivity"
            android:label="@string/title_activity_fridge_age_bar_graph"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.ExplorationActivity" />
        </activity>
        <!-- TODO: Re-add when the functionality is implemented -->
        <!--
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dashtricks.pakistan.app.Activities.SettingsActivity" />
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.SelectScenarioActivity"
            android:label="@string/title_activity_select_scenario" >
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.SelectImmunizationPlanActivity"
            android:label="@string/title_activity_select_immunization_plan" >
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.CreateImmunizationPlanActivity"
            android:label="@string/title_activity_create_immunization_plan" >
        </activity>
        <activity
            android:name="com.dashtricks.pakistan.app.Activities.CreateScenarioActivity"
            android:label="@string/title_activity_create_scenario" >
        </activity>
        -->
    </application>

    <!-- Only for testing with internet. Not needed for releases. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- File permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- min 11: Allows us to turn off hardware accelerated canvas -->
    <!-- min 16: Allows us to use setAllowUniversalAccessFromFileURLs -->
    <uses-sdk android:minSdkVersion="16" />

</manifest>
